<div class="infobox-wrapper {{class}}">
  <div class="infobox-content-1">
    <img src={{contentBox1.img}} class="infobox-title-img">
  </div>
  <div class="infobox-content-2">
    <img src={{contentBox2.img}} class="infobox-content-img">
    <h2 class="infobox-title">{{contentBox2.title}}</h2>
    <p class="description-copy">{{contentBox2.description}}</p>
    <h3 class="infobox-subtitle">{{contentBox2.subTitle}}</h3>
    <a href="{{contentBox2.cta.href}}" class="orange-btn">{{contentBox2.cta.ctaText}}</a>
  </div>
</div>
